* {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background: rgba(11, 13, 15, 0.96);
    color: #d7dce2;

    border: 1px solid rgba(138, 180, 248, 0.08);
    border-radius: 9px;
}

#custom-launcher {
    color: #8ab4f8;

    padding: 0 12px;
    margin-right: 5px;
}

#workspaces {
    margin: 0 2px;
}

#workspaces button {
    background: transparent;
    color: #4f5863;

    border: none;
    border-radius: 6px;

    padding: 0 7px;
    margin: 4px 1px;
}

#workspaces button.active {
    color: #d7dce2;
    background: #171b20;
}

#workspaces button:hover {
    color: #8ab4f8;
    background: #111418;
}

#network,
#bluetooth,
#pulseaudio,
#custom-notifications,
#custom-lock,
#custom-power,
#clock {
    padding: 0 9px;

    color: #737b86;
}

#network:hover,
#bluetooth:hover,
#pulseaudio:hover,
#custom-notifications:hover,
#custom-lock:hover,
#custom-power:hover,
#clock:hover {
    color: #d7dce2;
    background: #111418;
}

#clock {
    color: #d7dce2;

    padding-left: 12px;
    padding-right: 12px;

    margin-left: 3px;
}

#custom-power {
    color: #ff6b6b;
}

#custom-lock {
    color: #8ab4f8;
}